<h1>Delete Order</h1>

<form method="POST" action="/pizzas">

  <label for="delete-field">Enter Order Id: </label> <!-- first_name matches first_name of id in line below -->
      <input type="number" id="delete-field" name="id"/>  <!-- name matches database column -->

  <input type="submit" value="Delete" />


</form>